<div class=" jumbotron text-left py-3 " style="margin-bottom:0 ">
    <div class="d-flex flex-row flex-wrap justify-content-around ">
        <div>
            <p class="lead ">Contatti</p>
            <p>Via delle Rose, 45</p>
            <p>12345, Forlimpopoli</p>
            <p><i class="fas fa-envelope "></i>
                <a href="mailto:pippo@topolinia.disney.com ">pippo@topolinia.disney.com</a>
            </p>
            <p class="lead ">Seguici su</p>
            <p>
                <a href="# "><i class="fab fa-facebook-square " style="font-size: 24px;color: #3b5998 "></i></a>
                <a href="# "><i class="fab fa-twitter-square " style="font-size: 24px;color: #1da1f2 "></i></a>
                <a href="# "><i class="fab fa-instagram " style="font-size: 24px;color: #e56969 "></i></a>
            </p>
        </div>
        <div>
            <p class="lead ">I nostri partner</p>
            <ul class="list-unstyled ">
                <li class="media mt-3 ">
                    <a class="d-flex align-middle " href="# ">
                        <img src="/images/ibm_icon_130909.png " style="width: 40px; " alt="Partner 1 ">
                    </a>
                    <div class="media-body ml-2 ">
                        <h5>Partner 1</h5>
                        <span class="text-info ">Azienda specializzata in ...</span>
                    </div>
                </li>
                <li class="media mt-3 ">
                    <a class="d-flex align-middle " href="# ">
                        <img src="/images/google_logo_icon.png " style="width: 40px; " alt="Partner 2 ">
                    </a>
                    <div class="media-body ml-2 ">
                        <h5>Partner 2</h5>
                        <span class="text-info ">Leader nel settore ...</span>
                    </div>
                </li>
                <li class="media mt-3 ">
                    <a class="d-flex align-middle " href="# ">
                        <img src="/images/intel_2120.png " style="width: 40px; " alt="Partner 3 ">
                    </a>
                    <div class="media-body ml-2 ">
                        <h5>Partner 3</h5>
                        <span class="text-info "> Azienda leader ...</span>
                    </div>
                </li>
            </ul>
            <p class="font-italic " style="font-size: 1.1rem ">&copy; Roberto Pirrone</p>
        </div>
    </div>
</div>