<div class="container-fluid">
    <div class="row">
        <div id="myCarousel" class="carousel slide carousel-fade d-none d-sm-block" data-ride="carousel" data-pause="false" data-interval="2000">

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/la.jpg" class="w-100" alt="Los Angeles">
                    <div class="carousel-caption">
                        <h1>My First Bootstrap 4 Page</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/chicago.jpg" class="w-100" alt="Chicago">
                    <div class="carousel-caption">
                        <h1>My First Bootstrap 4 Page</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/ny.jpg" class="w-100" alt="New York">
                    <div class="carousel-caption">
                        <h1>My First Bootstrap 4 Page</h1>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-block d-sm-none bg-info text-white text-center w-100">
            <h5 style="height: 200px; line-height: 200px;">My First Bootstrap 4 Page</h5>
        </div>
    </div>
</div>