<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/login">

    <p class="lead text-uppercase mt-3">Autenticazione</p>
    <div class="form-group">
        <label for="email">E-mail *</label>
        <input name="email" id="email" type="email" class="form-control" size="32" maxlength="40" required/>
        <div class="invalid-feedback">
            Inserire indirizzo e-mail
        </div>
    </div>

    <div class="form-group">
        <label for="pass">Password *</label>
        <input name="pass" id="pass" type="password" class="form-control" title="Almeno 8 caratteri, una lettera maiuscola e un numero" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" size="32" maxlength="40" required/>
        <div class="invalid-feedback">
            Almeno 8 caratteri di cui uno maiusciolo e un numero
        </div>
        <div class="valid-feedback text-warning">
            Password media
        </div>
    </div>

    <button name="ok" id="ok" type="submit" class="btn btn-primary mt-3">Invia</button>
</form>