<div class="container mt-3 d-none d-md-block col-sm-4">
    <h3>Post recenti</h3>
    <div class="media border p-1">
        <img src="/images/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:40px;">
        <div class="media-body">
            <h5>John Doe <small><i>Posted on February 19, 2016</i></small></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="media p-1">
                <img src="/images/img_avatar2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:30px;">
                <div class="media-body">
                    <h5>Jane Doe <small><i>Posted on February 20 2016</i></small></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>