<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/utenteregistrato">
    <p class="lead text-uppercase">Dati anagrafici</p>

    <div class="form-group">
        <label for="name">Cognome e Nome *</label>
        <input id="name" name="name" type="text" class="form-control" maxlength="40" required/>
        <div class="invalid-feedback">
            Inserire nome e cognome
        </div>
    </div>

    <div class="custom-control custom-radio custom-control-inline mt-2">
        <input type="radio" class="custom-control-input" id="male" name="gender" value="male" required>
        <label class="custom-control-label" for="male">Uomo</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline mt-2">
        <input type="radio" class="custom-control-input" id="female" name="gender" value="female" required>
        <label class="custom-control-label" for="female">Donna</label><br>
        <div class="invalid-feedback ml-2">
            Inserire il genere
        </div>
    </div>

    <p class="lead text-danger mt-4">Nato a: *</p>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Regione&nbsp;&nbsp;</span>
        </div>
        <select id="region" class="custom-select" name="region" required>
            <option value="" selected></option>
            <option value="Abruzzo">Abruzzo</option>
            <option value="Basilicata">Basilicata</option>
            <option value="Calabria">Calabria</option>
            <option value="Campania">Campania</option>
            <option value="Emilia-Romagna">Emilia-Romagna</option>
            <option value="Friuli-Venezia Giulia">Friuli-Venezia Giulia</option>
            <option value="Lazio">Lazio</option>
            <option value="Liguria">Liguria</option>
            <option value="Lombardia">Lombardia</option>
            <option value="Marche">Marche</option>
            <option value="Molise">Molise</option>
            <option value="Piemonte">Piemonte</option>
            <option value="Puglia">Puglia</option>
            <option value="Sardegna">Sardegna</option>
            <option value="Sicilia">Sicilia</option>
            <option value="Toscana">Toscana</option>
            <option value="Trentino-Alto Adige">Trentino-Alto Adige</option>
            <option value="Umbria">Umbria</option>
            <option value="Valle d'Aosta">Valle d'Aosta</option>
            <option value="Veneto">Veneto</option>
        </select>
        <div class="invalid-feedback">
            Selezionare la regione di nascita
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Provincia&nbsp;</span>
        </div>
        <select id="state" name="state" class="custom-select" required>
                <option value="" selected></option>
            </select>
        <div class="invalid-feedback">
            Selezionare la provincia di nascita
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Comune&nbsp;&nbsp;</span>
        </div>
        <select id="town" name="town" class="custom-select" required>
                <option value="" selected></option>
            </select>
        <div class="invalid-feedback">
            Selezionare il comune di nascita
        </div>
    </div>

    <div class="form-group">
        <label for="birthdate">Data di Nascita *</label>
        <input name="birthdate" id="birthdate" type="date" class="form-control" required/>
        <div class="invalid-feedback">
            Selezionare la data di nascita
        </div>
    </div>

    <p class="lead text-uppercase mt-3">Indirizzo</p>
    <div class="form-row">
        <div class="col-6">
            <label for="address">Via/Piazza</label>
            <input name="address" id="address" type="text" pattern="^(\s*\w+\.*\s*)+" class="form-control" maxlength="40" />
        </div>
        <div class="col-3">
            <label for="addressnum">N.</label>
            <input name="addressnum" id="addressnum" type="number" class="form-control" min="1" max="9999" size="4" maxlength="4" disabled />
            <div class="invalid-feedback">
                1 - 9999
            </div>
        </div>
        <div class="col-3">
            <label for="cap">CAP.</label>
            <input name="cap" id="cap" type="tel" class="form-control" pattern="^\d{5}$" placeholder="#####" title="Inserire 5 cifre da 00100 a 98168" size="5" maxlength="5" disabled />
            <div class="invalid-feedback">
                00010 - 98168
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="city">Località</label>
            <input name="city" id="city" type="text" class="form-control" pattern="^(\s*\w+\.*\s*)+" maxlength="40" disabled />
            <div class="invalid-feedback">
                Nome località
            </div>
        </div>
        <div class="col">
            <label for="tel">Tel.</label>
            <input name="tel" id="tel" type="tel" class="form-control" placeholder="(+/00)PPLLLNNNNNNN" pattern="((((\+|00)[1-9]{2})|0)?([1-9]{2,3}))([0-9]{6,10})" title="Inserire il numero di telefono nel formato (+|00)<pref. int.><pref. loc.><numero> oppure 0<pref. loc.><numero>"
                size="20" maxlength="20" disabled />
            <div class="invalid-feedback">
                ((+ / 00)(pref. int.) / 0)(pref. loc)(numero)
            </div>
        </div>
    </div>

    <p class="lead text-uppercase mt-3">Autenticazione</p>
    <div class="form-group">
        <label for="email">E-mail *</label>
        <input name="email" id="email" type="email" class="form-control" size="32" maxlength="40" required/>
        <div class="invalid-feedback">
            Inserire indirizzo e-mail
        </div>
    </div>

    <div class="form-group">
        <label for="pass">Password *</label>
        <input name="pass" id="pass" type="password" class="form-control" title="Almeno 8 caratteri, una lettera maiuscola e un numero" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" size="32" maxlength="40" required/>
        <div class="invalid-feedback">
            Almeno 8 caratteri di cui uno maiusciolo e un numero
        </div>
        <div class="valid-feedback text-warning">
            Password media
        </div>
    </div>

    <div class="form-group">
        <label for="repass">Reinserisci password *</label>
        <input name="repass" id="repass" type="password" class="form-control" size="32" maxlength="40" onchange="checkPassword(this)" required/>
        <div class="invalid-feedback">
            Le password devono coincidere
        </div>
    </div>
    <button name="ok" id="ok" type="submit" class="btn btn-primary mt-3">Invia</button>
</form>